PORT=8001
API_PREFIX=/api/v1
JWT_SECRET_KEY=your_super_secret_key
JWT_EXPIRES_IN=7d
JWT_SECRET_VERIFICATION_KEY=your_verification_secret
JWT_VERIFICATION_EXPIRES_IN=1h
CLOUDINARY_CLOUD_NAME=your_name
CLOUDINARY_API_KEY=your_key
CLOUDINARY_API_SECRET=your_secret
NODEMAILER_GOOGLE_APP_USER_EMAIL=your_email@gmail.com
NODEMAILER_GOOGLE_APP_PASSWORD=your_app_password